/*Common CSS
#0AAAAA
*/

/**
Dashboard
 */

@font-face {
    font-family: "Open Sans Regular";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

body {
    font-family: "Open Sans Regular" !important;
}


.bc_fed.fed_dashboard_container .list-group-item:first-child,
.bc_fed.fed_dashboard_container .list-group-item:last-child {
    border-radius: 0 !important;
}

.bc_fed.fed_dashboard_container .panel {
    border-radius: 0 !important;
}

.bc_fed.fed_dashboard_container .list-group div {
    cursor: pointer !important;
}

.bc_fed.fed_dashboard_container label.form-control {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.bc_fed.fed_dashboard_container .fed_post_heading_container {
    padding: 0 0 10px 35px;
}

.bc_fed .padd_5 {
    padding: 5px;
}

.bc_fed .padd_10 {
    padding: 10px;
}

.bc_fed .padd_top_10 {
    padding-top: 10px;
}

.bc_fed .padd_right_10 {
    padding-right: 10px;
}

.bc_fed .padd_left_10 {
    padding-left: 10px;
}

.bc_fed .padd_top_20 {
    padding-top: 20px;
}

.bc_fed .padd_bot_20 {
    padding-bottom: 20px;
}

.bc_fed .padd_bot_10 {
    padding-bottom: 10px;
}

.bc_fed .fed_user_role_single .panel-body {
    padding: 0 !important;
}

.bc_fed.fed_dashboard_container .fed_dashboard_item_field {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
}

.bc_fed .fed_dashboard_panel_body {
    background-color: #E0E0E0;
}

.bc_fed .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bc_fed .fed_header_font_color {
    color: #0AAAAA;
    font-weight: bolder;
}
.bc_fed .panel-body {
    background: #f3f3f3;
}

.bc_fed a:focus {
    outline: none !important;
}
.bc_fed #fedLoginCaptcha, #fedRegisterCaptcha {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.bc_fed .fed_profile_container .fed_profile_description {
    text-align: justify;

}

.bc_fed .bc_fed .fed_profile_container {
    border: 1px solid #E0E0E0;
    padding: 20px;
}

.bc_fed .bc_fed .fed_post_heading_container {
    padding-bottom: 20px;
}

.bc_fed .bc_fed .fed_dashboard_post_menu_container {
    padding-bottom: 20px;
}

.bc_fed .bc_fed .fed_user_posts_container {
    padding-top: 20px;
}

.bc_fed .bc_fed .fed_posts {
    padding-top: 30px;
}

.bc_fed .bc_fed .fed_posts .fed_post_title {
    font-size: 22px;
    font-weight: 500;
}

.bc_fed .fed_sidebar .sidebar,
.bc_fed .fed_sidebar aside {
    margin-left: 0;
    width: 100% !important;
}

.bc_fed .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,
.bc_fed .btn-primary,
.bc_fed .bg-primary,
.bc_fed .nav-pills > li.active > a,
.bc_fed .nav-pills > li.active > a:focus,
.bc_fed .nav-pills > li.active > a:hover,
.bc_fed .list-group-item.active,
.bc_fed .list-group-item.active:focus,
.bc_fed .list-group-item.active:hover,
.bc_fed .panel-primary > .panel-heading,
.bc_fed .btn-primary.focus, .btn-primary:focus,
.bc_fed .btn-primary:hover,
.bc_fed .btn.active, .btn:active,
.bc_fed input[type="button"]:hover,
.bc_fed input[type="button"]:focus,
.bc_fed input[type="submit"]:hover,
.bc_fed input[type="submit"]:focus,
.bc_fed .popover-title {
    background-color: #0AAAAA !important;
    background-image: none !important;
    border-color: #0AAAAA !important;
    color: #ffffff !important;
}

.bc_fed .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.bc_fed .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0AAAAA !important;
    border-color: #0AAAAA !important;
    color: #ffffff !important;
}

.bc_fed .nav-tabs {
    border-bottom: 1px solid #0AAAAA !important;
}

.bc_fed .flex-space-around {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bc_fed .panel-primary {
    border-color: #0AAAAA !important;
}

.bc_fed .bg-primary-font {
    color: #0AAAAA;
}

.bc_fed .bg-info-font {
    color: #ff8216;
}

.bc_fed .bg-danger-font {
    color: #e4b9b9;
}

.bc_fed .list-group-item {
    background-color: #033333 !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.bc_fed .fed_question_container .list-group-item {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    color: #000 !important;
    padding: 0 10px 0 10px !important;
}

.bc_fed .bg_secondary {
    background: #033333;
    color: #ffffff;
}

.bc_fed .fed_support_display_name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.bc_fed .fed_support_display_date {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
}

.bc_fed .fed_qa_chat_area_container .fed_support_display_date {
    padding: 0 10px;
}

.bc_fed .fed_support_question {
    font-weight: 200;
    font-size: 14px;
}

.bc_fed .fed_qa_chat_area_container {
    max-height: 550px;
    overflow-y: auto;
}

.bc_fed .fed_float_right_chat .fed_messages {
    border-right: 3px solid #16a085;
    background-color: #eefbf7;
}

.bc_fed .fed_qa_wrapper .alert.alert-info {
    font-size: 12px !important;
    margin-bottom: 5px !important;
    padding: 5px !important;
}

.bc_fed .fed_float_left_chat .fed_messages {
    border-left: 3px solid #e05d6f;
    background-color: #f7f0f0;
}

.bc_fed .fed_float_left_chat .fed_messages:before {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #e05d6f;
    border-top: 5px solid transparent;

    /*border-top: 5px solid transparent;*/
    /*border-bottom: 5px solid transparent;*/
    /*border-left: 5px solid #16a085;*/

    position: absolute;
    top: 18px;
    left: -7px;
    z-index: 1;

}

.bc_fed .fed_float_right_chat .fed_messages:after {
    content: "";
    height: 0;
    width: 0;
    /*border-bottom: 4px solid transparent;*/
    /*border-right: 4px solid #16a085;*/
    /*border-top: 4px solid transparent;*/

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #16a085;

    position: absolute;
    top: 18px;
    right: -7px;
    z-index: 1;
}

.bc_fed .fed_question_container {
    padding: 0 20px;
    max-height: 600px;
    overflow-y: auto;
}

.bc_fed .support .panel-body.fed_dashboard_panel_body {
    padding-left: 0;
}

.bc_fed .fed_qa_wrapper {
    background-color: white;
    min-height: 600px;
}

.bc_fed .fed_qa_submit_btn {
    padding: 5px 10px 5px 20px;
    text-align: right;
}

.bc_fed .fed_support_badge .fed_badge {
    width: 10px;
    height: 10px;
    background-color: #0AAAAA;
    top: 5px;
    right: 5px;
    position: absolute;
    border-radius: 50px;
}

.bc_fed .fed_qa_chat_area_container {
    padding: 20px;
}

.bc_fed .fed_support_nq_container {
    padding: 0 !important;
}

.bc_fed .fed_qa_textarea {
    padding: 10px 10px 5px 20px;
}


.bc_fed .list-group-item.active:after {
    left: 91%;
    top: 50%;
    border-width: 21px 21px 21px 0;
    margin-top: -17px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent #fff transparent transparent !important;
    border-left-color: #fff !important;
}

.bc_fed .list-group-item .fa,
.bc_fed .panel-title .fa,
.bc_fed .fed_menu_slug a .fa,
.bc_fed .fed_menu_slug .dashicons {
    padding-right: 10px;
}
.bc_fed .fed_menu_slug .dashicons {
    width: inherit;
}

.bc_fed .panel-title {
    font-size: 19px;
}

.bc_fed .popover > .arrow {
    margin-left: 0 !important;
}

/**
Upload Image
 */
.bc_fed .fed_upload_container {
    border: 1px solid #E0E0E0;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 0 !important;
}

.bc_fed .fed_upload_image_container {
    width: 100px;
    height: 100px;
}

.bc_fed .fed_upload_container .fed_upload_icon {
    padding-top: 25px;
}

.bc_fed input[type=color] {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}

.bc_fed .fed_profile_container .fed_profile_full_name {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.bc_fed .fed_admin_menu .modal-title h3 {
    padding: 0 !important;
    margin: 0 !important;
    color: white;
}

.bc_fed .fed_dashboard_item .panel-heading {
    border-radius: 0 !important;
}

.bc_fed .fed_profile_picture .panel-body {
    padding: 0 !important;
}

.bc_fed.fed_dashboard_container label {
    padding-right: 15px !important;
    display: inline !important;
}

.bc_fed.fed_dashboard_container input[type="checkbox"],
.bc_fed.fed_dashboard_container input[type="radio"] {
    padding-right: 2px !important;
    margin-right: 2px !important;
}

.bc_fed .form-control {
    border-radius: 0 !important;
}

/**
===== Text Widget =====
*/
.textwidget .container {
    width: 100% !important;
}

.form-group label {
    padding-right: 10px;
}

.textwidget .col-md-6.col-md-offset-3 {
    margin-left: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.textwidget .fed_login_content {
    padding: 10px !important;
}

.textwidget .bc_fed .fed_login_wrapper .fed_tab_menus {
    display: block;
    padding-bottom: 5px;
    border: 1px solid #e0e0e0;
}

.fed_dashboard_show_post_list_request {
    padding-bottom: 20px;
}

.textwidget .fed_login_content .fed_tab_content .col-md-3,
.textwidget .fed_login_content .fed_tab_content .col-md-9 {
    width: 100% !important;
}

.bc_fed .fed_login_wrapper {
    padding: 10px;
    text-align: center;
}

.bc_fed .fed_login_wrapper .fed_tab_menus {
    display: inline-block;
    padding: 0 20px;
}

.bc_fed .fed_login_container form .row {
    padding-bottom: 10px;
}

/**
Loader
**/
.bc_fed .preview-area {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.bc_fed .spinner_circle {
    width: 60px;
    height: 60px;
    /*z-index: 999;*/
    position: relative;
    margin: 100px auto;
}

.bc_fed .fed_dashboard_item_field_container .pagination,
.bc_fed .comments-pagination {
    border-top: none !important;
}

.bc_fed .fed_dashboard_item_field_container .pagination li {
    cursor: pointer;
}

.bc_fed .double-bounce1,
.bc_fed .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.bc_fed .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.bc_fed .fed_admin_menu .row {
    padding: 10px 0;
}

.bc_fed .fed_admin_menu input[type=text],
.bc_fed .fed_admin_menu input[type=email],
.bc_fed .fed_admin_menu input[type=number],
.bc_fed .fed_admin_menu input[type=password] {
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

.bc_fed .fed_login_menus {
    background-color: #0AAAAA;
    color: #ffffff;
}

.bc_fed .fed_login_content {
    border: 1px solid #0AAAAA;
    padding: 20px 40px;
}

.bc_fed .fed_tab_menus {
    padding: 10px 0;
    cursor: pointer;
}

.bc_fed .fed_hide {
    display: none;
}

.bc_fed .fed_selected {
    font-weight: bold;
    text-decoration: underline;
}

.bc_fed .fed_tab_content .fed_row {
    padding: 15px 0;
}

.bc_fed .text-left-not-xs,
.bc_fed .text-left-not-sm,
.bc_fed .text-left-not-md,
.bc_fed .text-left-not-lg {
    text-align: left;
}

.bc_fed .text-center-not-xs,
.bc_fed .text-center-not-sm,
.bc_fed .text-center-not-md,
.bc_fed .text-center-not-lg {
    text-align: center;
}

.bc_fed .text-right-not-xs,
.bc_fed .text-right-not-sm,
.bc_fed .text-right-not-md,
.bc_fed .text-right-not-lg {
    text-align: right;
}

.bc_fed .text-justify-not-xs,
.bc_fed .text-justify-not-sm,
.bc_fed .text-justify-not-md,
.bc_fed .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .bc_fed .text-left-not-xs,
    .bc_fed .text-center-not-xs,
    .bc_fed .text-right-not-xs,
    .bc_fed .text-justify-not-xs {
        text-align: inherit;
    }

    .bc_fed .text-left-xs {
        text-align: left;
    }

    .bc_fed .text-center-xs {
        text-align: center;
    }

    .bc_fed .text-right-xs {
        text-align: right;
    }

    .bc_fed .text-justify-xs {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bc_fed .text-left-not-sm,
    .bc_fed .text-center-not-sm,
    .bc_fed .text-right-not-sm,
    .bc_fed .text-justify-not-sm {
        text-align: inherit;
    }

    .bc_fed .text-left-sm {
        text-align: left;
    }

    .bc_fed .text-center-sm {
        text-align: center;
    }

    .bc_fed .text-right-sm {
        text-align: right;
    }

    .bc_fed .text-justify-sm {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .bc_fed .text-left-not-md,
    .bc_fed .text-center-not-md,
    .bc_fed .text-right-not-md,
    .bc_fed .text-justify-not-md {
        text-align: inherit;
    }

    .bc_fed .text-left-md {
        text-align: left;
    }

    .bc_fed .text-center-md {
        text-align: center;
    }

    .bc_fed .text-right-md {
        text-align: right;
    }

    .bc_fed .text-justify-md {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .bc_fed .text-left-not-lg,
    .bc_fed .text-center-not-lg,
    .bc_fed .text-right-not-lg,
    .bc_fed .text-justify-not-lg {
        text-align: inherit;
    }

    .bc_fed .text-left-lg {
        text-align: left;
    }

    .bc_fed .text-center-lg {
        text-align: center;
    }

    .bc_fed .text-right-lg {
        text-align: right;
    }

    .bc_fed .bc_fed .text-justify-lg {
        text-align: justify;
    }
}

.bc_fed .fed_post_pagination.pagination:before,
.bc_fed .fed_post_pagination.pagination:after {
    background-color: transparent !important;
}

/**
Pricing
 */

.bc_fed #fed_show_roles .panel-body {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.bc_fed #fed_show_roles .bc_panel_body_wrapper {
    padding: 10px;
}

.bc_fed #fed_show_roles .panel-heading {
    padding: 0 !important;
}

.bc_fed #fed_show_roles .panel-heading-wrapper,
.bc_fed #fed_show_roles .bc_panel_pricing_price_container {
    padding: 10px;
}

.bc_fed #fed_show_roles .bc_panel_pricing_price_container {
    font-size: 27px;
}

.bc_fed #fed_show_roles .panel-body.text-center {
    font-size: 23px;
}

.bc_fed #fed_show_roles .panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.bc_fed #fed_show_roles .panel-pricing:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.bc_fed .fed_dashboard_menus ul {
    margin: 0 !important;
    padding-bottom: 20px;
}

.bc_fed .fed_dashboard_item_field {
    padding: 10px;
}

.bc_fed .flex_between {
    display: flex;
    justify-content: space-between;
}
.bc_fed .flex {
    display: flex;
}
.bc_fed .flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bc_fed .fed_collapse_menu{
    cursor: pointer;
}
.bc_fed .fed_dashboard_menus.fed_collapse .fed_menu_title{
    display: none;
}
.bc_fed .fed_menu_title,
.bc_fed .fed_menu_icon{
    color: #ffffff;
}
.bc_fed .m-t-10 {
    margin-top: 10px !important;
}
.bc_fed .m-t-5 {
    margin-top: 5px !important;
}
.fed_bg_gray{
    background: gray !important;
    opacity: 0.7 !important;
}
.bc_fed .p-b-20 {
    padding-bottom: 20px !important;
}

.bc_fed .p-b-10 {
    padding-bottom: 10px !important;
}

.bc_fed .p-t-10 {
    padding-top: 10px !important;
}
.bc_fed .p-t-20 {
    padding-top: 20px !important;
}

.bc_fed .padding {
    padding: 20px !important;
}

.bc_fed .p-t-b-20 {
    padding: 20px 0 !important;
}
.bc_fed .fed_upload_image_container img {
    height: inherit;
}
.bc_fed .fed_menu_slug a:focus {
    outline: none;
    text-decoration: none;
}
.bc_fed .pagination:before, .bc_fed .pagination:after {
    content: none;
}

@media screen and (min-width: 768px) {
    .bc_fed .custom-collapse .collapse{
        display:block;
    }
}